.navbar{
    border: 0;
    margin-bottom: 0;
    
}
#navbar {
    overflow: hidden;
    background-color: #3E3E3E;
    height: 100vh;
    padding-top: 40vh;
    padding-bottom: 0vh; 
    transition: 0.4s;
    position: fixed;
    width: 100%;
    max-height: 100vh;
    top: 0;
    z-index: 100;
    align-items: center;


}
#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
#navbar #logo {
  font-size: 10vh;
  font-weight: bold;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}

  
  
#navbar a:hover {
    color: dimgray;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
  
#navbar text{
    color: lightgrey;
}

.cont1 {
    text-align: center;
    background-color: black;
    color: azure;
  
}

.container-fluid {
    color: black;
    
}

.container-prop {
    position: relative;

}

.image-container {
    position: absolute;
}

.container-prop p :hover{
    color: lightgrey;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

#cont2 {
    transition: 4s;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s;
}

.cont2 {
    background-color: #3E3E3E;
    text-align: center;
    
    margin-top: 10vh;
    height: 95vh;
    padding-top: 50vh;
    padding-bottom: 50vh;
    
}

.cont2text {
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.cont3 {
    background-color: #3E3E3E;
    text-align: center;
    height: 90vh;
    padding-top: 10vh;
    padding-bottom: 45vh;
    color: dimgray;
}

.cont3 img {
    display: block;
    width: 80%;
    height: 60%;
}


.container-fluid {
    
}