* {
    box-sizing: border-box;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #000000;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 100%;
    
}

#navbar {
    overflow: hidden;
    
    background-color: #3E3E3E;
    background-color: #000000;
    height: 100vh;
    padding-top: 0rem;
    padding-bottom: 0rem; 
    transition: 0.4s;
    position: fixed;
    width: 100%;
    
    top: 0;
    z-index: 100;
    align-items: center;

    margin-top: 0rem;
    margin-left: 0rem;
    
}

#navbar-container {
    margin-top: 0;
    margin-left: 0;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;

}

#navbar-background{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
}

#navbar-content {
    padding-left: 5rem;
    
    height: 100%; 
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;   
    align-items: center;
    z-index: 150;
    position: absolute;
}

#dummy-navbar-separator {
  width: 2rem;
  transition: width 2s;
  -webkit-transition: width 2s;
  -moz-transition: width 2s;
  -ms-transition: width 2s;
  -o-transition: width 2s;
}

#intermediate_navbar {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: flex-end;
  width: 38%;
  padding-bottom: 0rem;
  overflow: hidden;
  padding-right: 1rem;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

#introduction {
  color: lightgray;
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
  height: fit-content;
  transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -ms-transition: 2s ease-in-out;
  -o-transition: 2s ease-in-out;
}

#navbar-right {
    display: flex;
    font-size: 1.3rem;
    justify-content: space-around;
    padding-bottom: 0rem;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    align-items: center;
}

#navitem{
    
    
    color: lightgray;
    text-align: center;
    text-decoration:underline #00FF77;
    font-weight: bold;
    background-color: transparent;
    width: fit-content;
    

    
    
  }




  
#logo {
    background-color: transparent;
    font-size: 3.5rem;
    font-weight: bold;
    color: lightgrey;
    text-decoration: none;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    max-width: 55%;
    margin-left: 0.5rem;
}

  
  
#navbar-content a:hover {
    color: dimgray;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
  

#navbar-right i {
    
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    /*font-size: 1.5rem;*/
    color: lightgray;
}

#navbar-right i:hover {
    color: dimgray;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

#links-in-nav {
    
    display: flex;
    justify-content: center;
        
    
}

#links-in-nav i {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: lightgray;
}






.container-fluid {
    color: black;
    
    
    width: 100%;

}
.cont2 {
    background-color: #202020;
    
    min-height: fit-content;
    
    padding-bottom: 10rem;        
}
#cont2 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25rem;
    padding-bottom: 0vh;
    background-color: #202020;
    text-align: center;
    color: transparent;
    margin-top: 6rem;
    width: 100%;
    max-width: 1200px;
    padding-right: 0rem;
    
    
    
}



h3 {
    font-size: 2rem;
    color: #00FF77;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.cont-title p {
    font-size: 1.5rem;
}

#cont2-info {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

#toolkit {
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.capsule {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-width: 0.05rem;
    border-radius: 0.05rem;
    -webkit-border-radius: 0.05rem;
    -moz-border-radius: 0.05rem;
    -ms-border-radius: 0.05rem;
    -o-border-radius: 0.05rem;
    min-width: 6rem;
    font-weight: bold;
    
}

.toolkit-central {
    min-width: 9rem;
}

.tollikit-block {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-grow: initial;
}

.toolkit-subgroup {
    display: flex;
    flex-direction: row ;
}

.infogroup {
    
    width: 45%;

}

.subtitle {
    font-size: 1.3rem;
    text-align: left;
    margin-top: 1.5rem ;
    margin-bottom: 0.5rem;
}
.paragraph {
    font-size: 1.2rem;
    text-align: left;
    padding-top: 1rem;
}

.capsule {}
    



.cont2text {
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
.cont3 {
    background-color: #2a2a2a;
}

#cont3 {
    background-color: #2a2a2a;
    text-align: center;
    height: max-content;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    color: lightgrey;
    opacity: 1;
    
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    
}

#title {
    opacity: 0;
}

#cont3-content{
    opacity: 0;
    width: 98%;
}



.container-prop {
    position: relative;
    background-color: #202020;
    height: 20rem;
    width: inherit;
    margin: 1.25rem;
    display: inline-flex;
    padding: 0.4rem;
    border: 0.5rem,solid, #202020;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem #0f0f0f;
}

.tollikit-block-cont3 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: initial;
}

.to-git-button {
  background-color: #00FF77;
  padding: 0.5rem;
  float: right;
  align-self: flex-end;
  bottom: 0;
  width: fit-content;
  color: #202020;
  text-decoration: none;
  font-weight: bold;
  display: inline;
  border: 0.5rem, solid,#00FF77;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

.to-git-button i {
  font-size: 1.4rem;
 
}

.to-git-button p {
   
}

.project-details {
    width: 38%;
    height: inherit;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contains_image {
    background-color: #000000;
    position: relative;
    width: 62%;
    height: 100%;
    border: 0.25rem, solid, #00FF77;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
  
  .proj-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    
  }
  
   
  .image-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
    opacity: 0;
}

  .contains_image :hover .proj-image {
    opacity: 0.3;
  }
  
  .contains_image:hover .image-container {
    width: 100%;
    opacity: 0.8;
    
  }
  
  .text-for-small-media {
    display: none;
  }

  .flavour-text {
    display: block;
    white-space: pre-wrap;
    color: white;
    
    position: absolute;
    height: 100%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    align-content: center;
    text-align: justify;
    word-wrap: break-word;
  }
  
  .flavour-text p {
    margin-top: 0;
    font-size: 1.1rem;
  }



#cont4 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  margin-bottom: 0;
  
}

.footer-content {
    width: 100%;
    font-weight: bold;
    height: 7.5rem;
    width: 100%;;
    display: flex;
    
    justify-content: space-around;
    color: white;
    align-items: flex-start;
    
    padding: 0rem;
    margin-left: auto;
    margin-right: auto;
    
    
}

.footer-content div {
    
    width: 32%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.footer-content i {
    color: lightgray;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}

.footer-sub-text {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 0;
}

.footer-titles {
    font-size: 1rem;
    text-align: center;
}


.footer-left {
    flex-direction: column;
}



.footer-center  {
   flex-direction: column;
   
}

.footer-center i{
    font-size: 2rem;
}

.footer-right {
    
    flex-direction: column;
     
}

.footer-right i {
    padding: 0.1rem;
    font-size: 2rem;
    color: lightgray;
}



@media (max-width: 1200px) {

    * {
        font-size: 95%;
    }
}

@media (max-width: 991px) 
{
  * {
    font-size: 90%;
  }
  #navbar-content {
    
}
.capsule {
    font-size: 1rem;
  }

  .to-git-button {
    font-size: 0.9rem;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media  (max-width: 768px) {
  * {
    font-size: 80%;
  }
  
  #navbar-content {}

  #cont2-info {
    flex-direction: column;
  }

  .infogroup {
    width: 100%;
  }

  .capsule {
    font-size: 1rem;
  }

  #navbar {
    padding-top: 0rem;
    
    height: 6rem;
    background-color: transparent;
    color: white;
}

#navbar-background {
    opacity: 0;

}

#navbar-content {
    background-color: #000000;
    padding-left: .5rem;
    justify-content: space-between;
}


#intermediate_navbar {
    width: 60%;
}

#introduction {
    display: none;
}

#logo {
    font-size: 1.5rem;
    color: white;
    width: 30%;
    
    
}

#nav-right {
    
}

#navitem {
    font-size: 1.3rem;
}

#navbar-right i {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

#links-in-nav {
    flex-direction: column;
    padding-top: 0rem;
    align-items: center;
    font-size: larger;
}

#cont2 {
    color: lightgray;
    padding-top: 4rem;
    margin-top: 4rem;
    opacity: 1;
}

.cont-title {
    margin-left: 1rem;
    margin-right: 1rem;
}

#about-me-h3 {
    color: #00FF77;
}

#toolkit {
    opacity: 1;
}

#cont3-content{
    opacity: 1;

}

#title {
    opacity: 1;
}

.container-prop {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-right: auto;
    margin-left: auto;
}

.project-details {
    width: 100%;
}

.contains_image {
    width: 100%;
    
}

.proj-image {
    height: 20rem;
}

.contains_image {
    position:relative;
}

.proj-image {
    
}

.to-git-button {
    font-size: 0.9rem;
}

.image-container {
  display: none;
}

.text-for-small-media {
  margin-left: auto;
  margin-right: auto;  
  display:flex;
  width: 92%;
  height: 9rem;
  align-items: center;
  justify-content: center;
  
  

  
  
  
}

.text-for-small-media p {
    font-size: 1.2rem;
    text-align: justify;
            
}
  
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    * {
        font-size: 80%;
    }
    
    #navbar {
        padding-top: 0rem;
        
        height: 6rem;
        background-color: transparent;
        color: white;
    }

    #navbar-background {
        opacity: 0;

    }

    #navbar-content {
        background-color: #000000;
        padding-left: .5rem;
        justify-content: space-between;
    }

    
    #intermediate_navbar {
        width: 60%;
    }

    #introduction {
        display: none;
        
    }

    #logo {
        font-size: 1.5rem;
        color: white;
        width: 30%;
        
        
    }

    #navitem {
        font-size: 1.0rem;
    }

    #navbar-right i {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    #cont2 {
        color: lightgray;
        padding-top: 4rem;
        margin-top: 4rem;
        opacity: 1;
    }



    #about-me-h3 {
        color: #00FF77;
    }

    #toolkit {
        opacity: 1;
    }

    #cont3-content{
        opacity: 1;

    }

    #title {
        opacity: 1;
    }

    .container-prop {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .project-details {
        width: 100%;
    }

    .contains_image {
        width: 100%;
        
    }

    .proj-image {
        height: 20rem;
    }

    .contains_image {
        position:relative;
    }

    .proj-image {
        
    }

    .to-git-button {
        font-size: 0.9rem;
    }

    .image-container {
      display: none;
    }
  
    .text-for-small-media {
      margin-left: auto;
      margin-right: auto;  
      display:flex;
      width: 92%;
      height: 11rem;
      align-items: center;
      justify-content: center;
      

      
      
      
    }

    .text-for-small-media p {
        font-size: 1.1rem;
        text-align: justify;
                
    }

    .footer-sub-text {
        display: none;
    }
    





}

/* Small devices (portrait tablets and large phones, 600px and up) */




/* Large devices (laptops/desktops, 992px and up) */


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}









